[user]
	email = daniel.cocks@gmail.com
	name = Daniel Cocks
[color]
	ui = true
[push]
	default = simple
[pull]
	ff = only
[diff]
	tool = vimdiff
[alias]
	dannystarallremotes = "!for remote in $(git remote) ; do git remote set-branches $remote \\* ; echo $remote \\* ; done"
[core]
	excludesfile = /home/pengwyn/default_gitignore
