snippet skelpy "Start of a python script" b
from __future__ import print_function,division
from std_imports import *

from pylab import *
from numpy import *
endsnippet

snippet raiseNIE "The standard raise NotImplementedError" b
raise NotImplementedError
endsnippet
